
.oil, .oil small {
    background-color: #4F4F4F;
    color: #000000;
    margin-top: 0px;
    
}

.gold, .gold small {
  background-color: gold;
  color: #000000;

}

.silver, .silver small {
  background-color: silver;
  color: #000000;
}

html, body, .container-fluid {
  height: 100%;
}

.row {
  height: 33%;
}

.row > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.price {
  padding-right: 5px;
}

.change::before {
  content: '(';
}

.change::after {
  content: ')';
}

.price::before {
  content: '$';
}

.change:empty, .price:empty {
  display: none;
}